name: C/C++ CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    container: mbenabda/esp8266-rtos-sdk:latest

    steps:
    - uses: actions/checkout@v4
    - uses: ammaraskar/gcc-problem-matcher@master

    - run: pip3 install --user -r /opt/sdk/requirements.txt

    - run: cp sdkconfig.defaults sdkconfig

    - run: echo "MAKEFLAGS=-j$(nproc)" >> $GITHUB_ENV

    - run: make all
